@import "variables";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size: $text-size;
}

//HEADER

//.container{
 // position: absolute;
 //   width: 100vw;
//}

header{
    height:31px;
}

a{
    color:inherit;
}

.header-left-center{
    //border: solid yellow;
    position: absolute;
    width: 47.92vw;
    height: 223px; 
    left: 17.18vw;
}

.header-left{
    position:absolute;
    //border: solid green;
    width:264px;
    height:223px;
    
    .circle{
        z-index:1;
    }
    .logo{
        z-index:1;
    }
    .caption{
        z-index:1;
    }
}

.circle{
    position: absolute;
    width: 264px;
    height: 264px;
    top: -47px;
    background:$whitebackground;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    border-radius: 50%;
    z-index:0;
}

.logo{
    position: absolute;
    width: 290px;
    height: 120px;
    
    top: 15px;
    background: url("../img/logo.png") no-repeat top left;
    background-size: contain;
}

.caption{
    position: absolute;
    width: 116px;
    height: 14px;
    left: 74px; // 264/2 - 116/2 = 74
    top: 124px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 400;
    font-size: $caption-size;
    line-height: 115.8%;
    text-align: center;
    color: $black;
}


.header-center-list{
    
    position: absolute;
    height: 52px;
    width:880px;
    top: 52px;
    background:$whitebackground;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    border-radius: 190px;
}


ul{
    list-style: none;
}

.header-center-list ul {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding-left: 268px;
    padding-right: 16px;
}

.header-center-list ul li{
    font-family: $mont-fam;
    font-weight: 400;
    font-size: $caption-size;
    color: $black;
    display: flex;
}

a {
    text-decoration: none;
  }

  .header-right{
    position: absolute;
    width: 280px;
    height: 52px;
    left: 66.14vw;
    top: 52px;

    background: #F5FAFF;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    border-radius: 190px;
  }

  .phone{
    position: absolute;
    width: 220px;
    height: 24px;
    left: 31px;
    top: 15px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $green;
  }

  .language{
    position: absolute;
    //border: solid red;
    width: 120px;
    height: 35px;
    left: 33.02vw;
    top: 124px;
  }
  .lang_circle_ru{
    width: 35px;
    height: 35px;
    left: 33.02vw;
    
    background: whitesmoke;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    border-radius: 50%;
    transition: 0.3s;
  }

  .text_ru{
    position: absolute;
    width: 24px;
    height: 15px;
    left: 6px;
    top: 10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    /* identical to box height, or 15px */

    letter-spacing: 0.025em;

    color: $black;
    transition: 0.3s;
  }

  .lang_circle_ua{
    position:absolute;
    width: 35px;
    height: 35px;
    left: 37.03%;
    top: 0px;
    
    background: whitesmoke;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    border-radius: 50%;
    transition: 0.3s;
  }

  .text_ua{
    position: absolute;
    width: 24px;
    height: 15px;
    left: 6px;
    top:10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    /* identical to box height, or 15px */

    letter-spacing: 0.025em;

    color: $black;
    transition: 0.3s;
  }

  .lang_circle_en{
    position:absolute;
    width: 35px;
    height: 35px;
    left: 74.07%;
    top: 0px;
    
    background: whitesmoke;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    border-radius: 50%;
    transition: 0.3s;
  }

  .text_en{
    position: absolute;
    width: 24px;
    height: 15px;
    left: 6px;
    top:10px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    /* identical to box height, or 15px */

    letter-spacing: 0.025em;

    color: $black;
    transition: 0.3s;
  }

  .main_text{
  position: absolute;
  width: 477px;
  height: 135px;
  left: 19.11vw;
  top: 400px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  letter-spacing: 0.025em;

  color: $black;

  }

  .green_text{
    color:$green;
  }

  .main_text_caption{
    position: absolute;
    width: 454px;
    height: 27px;
    left: 19.27vw;
    top: 550px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133.8%;
    /* identical to box height, or 27px */


    color: $black;

  }

  .button_order{
    border:none;
    position: absolute;
    width: 280px;
    height: 60px;
    left: 19.27vw;
    top: 619px;

    background:$green;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.3);
    border-radius: 190px;
  }

  .button_order:hover{
    cursor: pointer;
  }

  .button_order_text{
    width: 143px;
    height: 35px;
    left: 438px;
    top: 633px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 133.8%;
    /* identical to box height, or 35px */

    text-align: center;
    letter-spacing: 0.025em;

    color: $whitebackground;

  }

  .main_text_caption_right{
    position: absolute;
    width: 222px;
    height: 27px;
    left: 35.42vw;
    top: 617px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 133.8%;
    /* identical to box height, or 27px */
    color: $black;

  }

  .green_text1{
    width: 143px;
    height: 35px;
    left: 35.42vw;
    top: 644px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    /* identical to box height, or 35px */


    color: $green;

  }

  .circle1{
    position: absolute;
    width: 929px;
    height: 1393.88px;
    left: 50.52vw;
    padding: 35px;
    top: -247.47px;
    z-index:-1;
    overflow: hidden;
    visibility: none;
  }

  .circle2{
    position: absolute;
    width: 1293.88px;
    height: 1293.88px;
    background: $green;
    box-shadow: 0px 0px 40px rgba(86, 86, 86, 0.4);
    transform: rotate(-19.06deg);
    border-radius: 50%;
    z-index:-1;
    overflow: hidden;
  }

  .circle_white{
    position: absolute;
    width: 624.53px;
    height: 624.53px;
    left: 9.6vw;
    top: 350.53px;

    background: $whitebackground;
    border: 10px solid $whitebackground;
    box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.3);
    transform: rotate(-19.06deg);
    border-radius: 50%;
    overflow:hidden;
   
  }

  .image_food{
    position: absolute;
    width: 95%;
    height: 95%;
    margin: 15px;
    object-fit: contain;
    background: url("../img/food.png");
    background-size: contain;
    transform: rotate(39.58deg);
    border-radius: 50%;
    }

  //medium block

  .medium_block{
    position: absolute;
    display:grid;
    align-items: center;
    grid-template-columns: 1fr 143.56px 1fr 143.56px 1fr 143.56px 1fr 143.56px 1fr 143.56px 1fr 143.56px 1fr; grid-template-rows: 117.46px;
            grid-template-areas:
                '. first . second . third . fourth . fivth . sixth .';
    position: absolute;
    padding-top:42.88px;
    padding-bottom:59.66px;
    width: 1286.44px;
    height: 220px;
    left: 16.46vw;
    top: 1000px;

    background: rgba(245, 250, 255, 0.8);
    border-radius: 30px;
  }

  .first_block{
    grid-area: first;
    svg{
      position: absolute;
      width: 50.54px;
      height: 63.62px;
      left: 106.44px;
      top: 42.88px;
    }
    .first_text{
      position: absolute;
      width: 143.56px;
      height: 33.56px;
      left:60.44px;
      top: 126.78px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 130.22%;
      /* or 16px */

      text-align: center;

      color: $black;

    }
  }

  .second_block{
    grid-area: second;
    svg{
      position: absolute;
      width: 66.38px;
      height: 66.39px;
      left:284.44px;
      top: 39.15px;
    }
    .second_text{
      position: absolute;
      width: 175.25px;
      height: 33.56px;
      left: 231.44px;
      top: 126.78px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 130.22%;
      /* or 16px */

      text-align: center;

      color: $black;

    }
  }
  .third_block{
    grid-area: third;
    svg{
      position: absolute;
      width: 68.85px;
      height: 67.5px;
      left:479.44px;
      top: 39.15px;
    }
    .third_text{
      position: absolute;
      width: 158.47px;
      height: 33.56px;
      left: 434.44px;
      top: 126.78px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 130.22%;
      text-align: center;
      color: $black;
    }
  }
  .fourth_block{
    grid-area: fourth;
    svg{
      position: absolute;
      width: 61.63px;
      height: 61.62px;
      left: 693.44px;
      top:51px;
    }
    .fourth_text{
      position: absolute;
      width: 206.95px;
      height: 33.56px;
      left: 621.44px;
      top: 126.78px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 130.22%;
      text-align: center;
      color: $black;
    }
  }
  .fivth_block{
    grid-area: fivth;
    svg{
      position: absolute;
      width: 99.89px;
      height: 68.55px;
      left: 885.44px;
      top:37.29px;
    }
    .fivth_text{
      position: absolute;
      width: 158.47px;
      height: 50.34px;      
      left: 856.44px;
      top: 126.78px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 130.22%;
      text-align: center;
      color: $black;
    }
  }
  .sixth_block{
    grid-area: sixth;
    svg{
      position: absolute;
      width: 68.17px;
      height: 68.17px;
      left: 1100.44px;
      top:37px;
    }
    .sixth_text{
      position: absolute;
      width: 184.58px;
      height: 50.34px;      
      left: 1042.44px;
      top: 126.49px;

      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 130.22%;
      text-align: center;
      color: $black;
    }
  }
  //left menu

  .left_menu{
    position: absolute;
    //border: solid red;
    width: 70px;
    height: 670px;
    left: 2.6vw;
    top: 220px;
  }

  //circle kkal

  .left_circle1{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0px;
    top: 0px;

    background: $whitebackground;
    box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
    border-radius: 50%;
    transition: width 0.3s;
  }

  .left_circle1_text{
    position: absolute;
    width: 50px;
    height: 28px;
    left: 10px;
    top: 21px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 138.5%;
    /* identical to box height, or 28px */

    text-align: center;

    color: #020202;
  }

  .left_circle1_text_2{
    display:none;
    position: absolute;
    width: 50px;
    height: 28px;
    left: 94px;
    top: 21px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 138.5%;
    /* identical to box height, or 28px */

    text-align: center;

    color: #020202;
    transition:  0.3s;
  }

  //circle fish

  .left_circle2{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0px;
    top: 120px;

    background: $whitebackground;
    box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
    border-radius: 50%;
    transition: width 0.3s;
  }

  .left_circle2 svg{
    position: absolute;
    left: 15.4px;
    top: 16.13px;
  }

  .left_circle2_text_2{
    display:none;
    position: absolute;
    width: 50px;
    height: 28px;
    left: 94px;
    top: 23px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 138.5%;
    /* identical to box height, or 28px */

    text-align: center;

    color: #020202;
  }

  //circle carrot

  .left_circle3{
    position: absolute;
    width: 70px;
    height: 70px;
    left: 0px;
    top: 240px;

    background: $whitebackground;
    box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
    border-radius: 50%;
    transition: width 0.3s;
  }

  .left_circle3 svg{
    position: absolute;
    left: 10.33px;
    top: 3.72px;
  }
  

  .left_circle3_text_2{
    display:none;
    position: absolute;
    width: 50px;
    height: 28px;
    left: 94px;
    top: 23px;

    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 138.5%;
    /* identical to box height, or 28px */

    text-align: center;

    color: #020202;
  }

//circle bottle

.left_circle4{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 360px;

  background: $whitebackground;
  box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
  border-radius: 50%;
  transition: width 0.3s;
}

.left_circle4 svg{
  position: absolute;
  left: 15.74px;
  top: 6.24px;
}

.left_circle4_text_2{
  display:none;
  position: absolute;
  width: 50px;
  height: 28px;
  left: 94px;
  top: 23px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 138.5%;
  /* identical to box height, or 28px */

  text-align: center;

  color: #020202;
}

//circle meat

.left_circle5{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 480px;

  background: $whitebackground;
  box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
  border-radius: 50%;
  transition: width 0.3s;
}

.left_circle5 svg{
  position: absolute;
  left: 8.83px;
  top: 13.46px;
}

.left_circle5_text_2{
  display:none;
  position: absolute;
  width: 50px;
  height: 28px;
  left: 94px;
  top: 23px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 138.5%;
  /* identical to box height, or 28px */

  text-align: center;

  color: #020202;
}

//circle child

.left_circle6{
  position: absolute;
  width: 70px;
  height: 70px;
  left: 0px;
  top: 600px;

  background: $whitebackground;
  box-shadow: 0px 0px 30px rgba(86, 86, 86, 0.25);
  border-radius: 50%;
  transition: width 0.3s;
}

.left_circle6_text{
  position: absolute;
  width: 17px;
  height: 26px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 100%;
  /* identical to box height, or 26px */
  color: #020202;
  left: 27px;
  top: 13px;
}

.left_circle6_text_2{
  display:none;
  position: absolute;
  width: 50px;
  height: 28px;
  left: 94px;
  top: 23px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 138.5%;
  /* identical to box height, or 28px */

  text-align: center;

  color: #020202;
}

.left_circle6 svg{
  position: absolute;
  left: 15px;
  top: 38px;
}

//hover effects center menu

.header-center-list ul li:hover{
  color:$green;
}

//hover effects language

.lang_circle_ru:hover{
  background: $green;
  .text_ru{
    color: white;
  }
  cursor:pointer;
}

.lang_circle_ua:hover{
  background: $green;
  .text_ua{
    color: white;
  }
  cursor:pointer;
}

.lang_circle_en:hover{
  background: $green;
  .text_en{
    color: white;
  }
  cursor:pointer;
}

//hover effects left menu

.left_circle1:hover{
  width: 188px;
  border-radius: 190px;
  .left_circle1_text{
    color: $green;
  }
  .left_circle1_text_2{
    display:inline;
    color: $green;
  }
  cursor:pointer;
}

.left_circle2:hover{
  width: 188px;
  border-radius: 190px;
  #svg_12{
    stroke:#64D370;
  }
  .left_circle2_text_2{
    display:inline;
    color: $green;
  }
  cursor:pointer;
}

.left_circle3:hover{
  width: 188px;
  border-radius: 190px;
  #svg_13{
    stroke:#64D370;
  }
  .left_circle3_text_2{
    display:inline;
    color: $green;
  }
  cursor:pointer;
}

.left_circle4:hover{
  width: 188px;
  border-radius: 190px;
  #first{
    stroke:#64D370;
  }
  #second{
    stroke:#64D370;
  }
  #third{
    stroke:#64D370;
  }
  .left_circle4_text_2{
    display:inline;
    color: $green;
  }
  cursor:pointer;
}

.left_circle5:hover{
  width: 188px;
  border-radius: 190px;
  #firstt{
    stroke-width: 1.2;
    stroke:#64D370;
  }
  #secondd{
    stroke-width: 1.2;
    stroke:#64D370;
  }
  #thirdd{
    stroke-width: 1.2;
    stroke:#64D370;
  }
  .left_circle5_text_2{
    display:inline;
    color: $green;
  }
  cursor:pointer;
}

.left_circle6:hover{
  width: 188px;
  border-radius: 190px;
  #first2{
    stroke:#64D370;
  }
  .left_circle6_text{
    color: $green;
  }
  .left_circle6_text_2{
    display:inline;
    color: $green;
  }
  cursor:pointer;
}