//colors
$whitebackground: #F5FAFF;
$green: #64D370;
$black: #000000;
$red: #F87676;
$lightgreen: rgba(38, 240, 58, 0.1);
$lightgreen2: rgba(100, 211, 112, 0.3);
$lightgreen3: rgba(100, 211, 112, 0.5);

//font size
$list-size: 8px;
$menu-size: 14px;
$caption-size: 14px;
$phone-size: 20px;
$text-size: 20px;
$languge-size: 15px;
$big-title-size: 40px;
$button-size: 26px;
$big-description-size: 35px;
$small-description-size: 12px;
$big-tab-size: 25px;
$programs-size: 18px;
$medium-description-size: 16px;
$small-title-size: 30px;
$big-form-size: 24px;
$small-form-size: 22px;
$medium-title-size: 32px;

//font-family
$mont-fam:'Montserrat', sans-serif;
$comf-fam: 'Comfortaa', cursive;